@font-face {
  font-family: 'Product Sans';
  src: url('../assets/fonts/product_sans_medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto Medium';
  src: url('../assets/fonts/roboto_medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../assets/fonts/proxima_nova_bold.otf') format('opentype');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'YTSans';
  src: url('../assets/fonts/ytsans_medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

